<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.4.0/socket.io.js"></script>
    ></script>
    <title>나의 첫 vlog</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />

    <link href="/static/mystyle.css" rel="stylesheet">

    <script>
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const _id = urlParams.get("_id");

        $(document).ready(function () {
            get_comments()

        })
        function show_modal_D() {
            $(".cor").css('display', 'none')
            $(".reg").css('display', 'block')
            $('.modal').addClass('show');
        }
        function show_modal_C() {
            $(".reg").css('display', 'none')
            $(".cor").css('display', 'block')
            $('.modal').addClass('show');
        }
        function close_modal() {

            $('.modal').removeClass('show');
        }

        $(document).ready(function () {
            get_detail()
        })

        function get_detail() {
            $.ajax({
                type: "GET",
                url: `/api/posts/${_id}`,
                data: {},
                success: function (response) {
                    let post = response["detail"]
                    console.log(post)
                    make_detail(post)


                }
            })
        }

        function make_detail(item) {
            let htmlTemp = `<div class="control">
                                <input class="input" type="text" value="${item["title"]}" readonly>
                            </div>
                            <br>
                            <div class="control">
                                <input class="input" type="text" value="${item["user_id"]}" readonly>
                            </div>
                            <br>
                            <div class="control">
                                <textarea class="textarea" readonly>${item["content"]}</textarea>
                            </div>
                            <br>
                            <div class="field is-grouped is-grouped-right">
                                <p class="control">
                                    <a class="button is-primary" id="modal_btn" onclick="show_modal_C()">
                                        수정/삭제
                                    </a>
                                </p>
                                <p class="control">
                                    <a class="button is-light" onclick="location.href='/'">
                                        Cancel
                                    </a>
                                </p>
                            </div>`
            $("#post_detail").append(htmlTemp)
        }
        function time2str(day) {
            
            let today = new Date()
            let time = (today - day) / 1000 / 60;
            
            if (time < 60) {
                return parseInt(time) + "분 전"
            }
            time = time / 60;
            if (time < 24) {
                return parseInt(time) + "시간 전"
            }
            time = time / 24;
            if (time < 7) {
                return parseInt(time) + "일 전"
            }
            return day.getFullYear() + '년' + day.getMonth() + 1 + '월' + day.getDate() + '일'
        }


        function get_comments() {
            $.ajax({
                type: "GET",
                url: `/api/comments/${_id}`,
                data: {},
                success: function (response) {
                    let comments = response["detail"]
                    let comment = comments['comments']
                    $("#comment_count").append(comment.length)
                    for (let i = 0; i < comment.length; i++) {
                        let time_post = new Date(comment[i]["date"])
                        let time_before = time2str(time_post)
                        make_comments(comment[i], time_before)



                    }
                }
            })
        }
        function make_comments(item, date) {
            let htmlTemp = `<div class="box">
                                <article class="media">

                                    <div class="media-content">
                                        <div class="content">
                                            <p>
                                                <strong>${item["author"]}</strong> <small>${date}</small> 
                                                <br>
                                                ${item["content"]}
                                            </p>
                                        </div>
                                        <nav class="level is-mobile">
                                            <div class="level-left">
                                                <a class="level-item" aria-label="retweet">
                                                    <span class="icon is-small">
                                                        <i class="fas fa-retweet" aria-hidden="true"></i>
                                                    </span>
                                                </a>
                                                
                                            </div>
                                        </nav>
                                    </div>
                                </article>
                            </div>`
            $("#comment_list").append(htmlTemp)
        }

        function correction() {
            $.ajax({
                type: "POST",
                url: `api/detail/${_id}`,
                data: {
                    passWord: $("#passWord").val(),
                },
                success: function (response) {
                    if (response["msg"] == "success") {
                        window.location.href = `/posts/correction?_id=${_id}`
                    } else {
                        alert("비밀번호를 확인해주세요!")
                    }
                }
            });
        }
        function comment_register() {
            $.ajax({
                type: "POST",
                url: `/api/comments/detail/${_id}`,
                data: {
                    author: $("#user_id").val(),
                    content: $("#comment").val(),
                    passWord: $("#passWord").val(),
                },
                success: function (response) {
                    if (response["result"] == "success") {
                        alert("저장 완료!");
                        window.location.href = `/detail?_id=${_id}`;
                    }
                }
            });
        }
    </script>

</head>

<body>
    <nav class="navbar is-transparent container_top">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox"
                    width="112" height="28">
            </a>
            <div class="navbar-burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="https://bulma.io/">
                    Home
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="https://bulma.io/documentation/overview/start/">
                        Docs
                    </a>
                    <div class="navbar-dropdown is-boxed">
                        <a class="navbar-item" href="https://bulma.io/documentation/overview/start/">
                            Overview
                        </a>
                        <a class="navbar-item" href="https://bulma.io/documentation/overview/modifiers/">
                            Modifiers
                        </a>
                        <a class="navbar-item" href="https://bulma.io/documentation/columns/basics/">
                            Columns
                        </a>
                        <a class="navbar-item" href="https://bulma.io/documentation/layout/container/">
                            Layout
                        </a>
                        <a class="navbar-item" href="https://bulma.io/documentation/form/general/">
                            Form
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="https://bulma.io/documentation/elements/box/">
                            Elements
                        </a>
                        <a class="navbar-item is-active" href="https://bulma.io/documentation/components/breadcrumb/">
                            Components
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet"
                                data-social-target="https://bulma.io" target="_blank"
                                href="https://twitter.com/intent/tweet?text=Bulma: a modern CSS framework based on Flexbox&amp;hashtags=bulmaio&amp;url=https://bulma.io&amp;via=jgthms">
                                <span class="icon">
                                    <i class="fab fa-twitter"></i>
                                </span>
                                <span>
                                    Tweet
                                </span>
                            </a>
                        </p>
                        <p class="control">
                            <a class="button is-primary"
                                href="https://github.com/jgthms/bulma/releases/download/0.9.3/bulma-0.9.3.zip">
                                <span class="icon">
                                    <i class="fas fa-download"></i>
                                </span>
                                <span>Download</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <hr style="border: 2px;">
    <br>
    <div>
        <div class="middle">

            <h1>상세 페이지</h1>
            <div id="post_detail">

            </div>
        </div>
        <br>
        <div class="middle">

            댓글<strong id="comment_count"></strong>


            <hr style="font-size: large;">
            <div id="comment_list">
                
            </div>
            <br>
            <footer class="footer">
                <textarea class="textarea is-primary" placeholder="Primary textarea" id="comment">

                </textarea>
                <br>
                <div class="control">
                    <button class="button is-primary" onclick="show_modal_D()">댓글 등록</button>
                </div>
            </footer>
        </div>





        <div class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title cor">비밀번호를 입력해주세요!</p>
                    <p class="modal-card-title reg">ID와 비밀번호를 입력해주세요!</p>
                    <button class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <div class="field">
                        <p class="control has-icons-left reg">
                            <input class="input" type="text" id="user_id" placeholder="ID">
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </p>
                        <br>
                        <p class="control has-icons-left">
                            <input class="input" type="password" id="passWord" placeholder="Password">
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </p>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-success cor" onclick="correction()">수정/삭제</button>
                    <button class="button is-success reg" onclick="comment_register()">등록</button>
                    <button class="button" onclick="close_modal()">취소</button>
                </footer>
            </div>
        </div>




    </div>





</body>

</html>